<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<style>
    div .inside {
       margin-top:0px;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-image: url("#");
    background-color: white;
    position: absolute;
    top: 33.33%;
    left: 33.33%;
    }
</style>

<div class="text-center">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <div class="col-sm-4 col-lg-4 inside">
        <form method="POST">
            <h1 class="'text-center">Sign In</h1>
            <hr>
            {% csrf_token %}
            <h2>Username :</h2> <input type="text" name="username"/><br><br>
          <h2>Password :</h2> <input type="text" name="password"/><br><br>
          <input type="submit" />
            <h4>have no account? <a href="{% url 'signup' %}">SignUp here</a></h4>
        </form>
    </div>
</div>

</body>
</html>